---
import "@fontsource/inter/variable.css";
import "@styles/index.css";
import Launch from "@components/launch.astro";

const { generator, site } = Astro;
const image = new URL("launch.png", site);
const title = "The use of LLM tools in Universities for teaching and research"
const description = "ChatGPT and other AI-powered systems that generate text are a challenge to the way we teach, especially for designing exams. What are the solutions and the best practices? The two main networks of Institutes for Advanced Studies, the University-based Institutes for Advances Study (UBIAS) and the European Network of Institutes Advanced Studies (NETIAS) are making a quick survey in which higher education institutions, teachers, and administrators worldwide can share their practices. This is a non-profit and academic initiative to share good practices. Participants will get the results. The survey is open to higher institution worlwide even those that do not belong to the two networks. We are aware practice may differ between units and departments, and that you may not be aware of what other units are doing. The questionnaire is only for your own knowledge and/or practice (teaching and research) in your own unit.";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      // const themeSaved = localStorage.getItem("theme");
      const themeSaved = 'light'
      
      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: light)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: light)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full bg-default text-default text-base"
  >
    <div class="p-4 sm:p-8">
      <Launch />
    </div>
  </body>
</html>
